<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body style="font-family: MetaSerifProBook, 'Lucida Bright', Cambria, Georgia, 'Times New Roman', serif;">
    <div id="main">
      <p>Dear friends and colleagues:</p>

      <p>After much consideration, we will be shutting down Optimal 401k.  The last rebalance email will be on June 1.</p>

      <p>We started Optimal 401k two years ago to help people beat the <a href="http://www.investopedia.com/terms/t/target-date_fund.asp">target-date funds</a> with just a few minutes a month.  We've had tremendous support from you all, including a lot of fantastic feedback that we used to improve the service.  Unfortunately, we just don't have the time to run the service and support our users to the high level of excellence we hold ourselves and you deserve.  And rather than compromise on quality, we've made the difficult to decision to shut the service down.</p>

      <p>The next and final rebalance email will be on June 1.  Please send us any questions you may have.  We will compile an FAQ and send that out in the final email.</p>

      <p>We want to thank all of you who gave the service a try and sent feedback.  Your support means the world to us.</p>

      <p>-- The Optimal 401k Team</p>
    </div>
  </body>
</html>