<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body style="font-family: MetaSerifProBook, 'Lucida Bright', Cambria, Georgia, 'Times New Roman', serif;">
    <div id="main">
      <div>
        <h3 style="margin: 30px 0px -10px 0px; font-family: ProximaNovaSemiBold, 'Helvetica Neue', Arial, sans-serif; font-size: 150%;">Frequently Asked Questions</h3>
        <p>Question: by when should I complete the initial rebalance?<br />
        Answer: you should complete this rebalance by April 30.</p>
        <p>Question: on what day of the month will you be sending future rebalance notifications?<br />
        Answer: in the future, we'll send you new allocations on the 1st of every month.</p>
        <p>Question: when will my next rebalance notification be?<br />
        Answer: your next rebalance notification will be on June 1.</p>
        <p>Question: will you send rebalance notifications every month or only when there are significant changes?<br />
        Answer: we will send you rebalance notifications every month even if they are small.</p>
        <br /><hr />
        <div>
          <p style="font-style: italic; font-size: 80%;">We are NOT investment advisors. See our <a href="http://www.msft401k.com/terms">Terms</a>.</p>
          <p style="font-style: italic; font-size: 80%;">Past performance does not guarantee or imply future success. You cannot assume that profits or gains will be realized or that any opinion made by MSFT401k.com will be profitable.</p>
        </div>
      </div>
    </div>
  </body>
</html>