<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body style="font-family: MetaSerifProBook, 'Lucida Bright', Cambria, Georgia, 'Times New Roman', serif;">
    <div id="main">
      <p>Hello Optimal 401k Subscribers!</p>

      <p>We've received a ton of positive feedback, and we are exiting our free pilot program in the coming months.  Please complete the 30-second survey below to help us determine the right price to charge for the service.</p>

      <%
        url_end = "WYRV5TR";
        user_group = User.find_by_email(@email).group
        case user_group 
        when 1
          url_end = "W9NJ6MD";
        when 2
          url_end = "WCQKJVT";
        when 3
          url_end = "WCJJS95";
        when 4
          url_end = "WCJHP67";
        end
      %>

      <p>Link to survey: <a href="https://www.surveymonkey.com/s/<%= url_end %>"></a>https://www.surveymonkey.com/s/<%= url_end %></p>

      <p>Thank you!!<br />
      The Optimal 401k Team</p>
    </div>
  </body>
</html>