<% current_time = Time.now.in_time_zone('America/Los_Angeles') %>
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body style="font-family: MetaSerifProBook, 'Lucida Bright', Cambria, Georgia, 'Times New Roman', serif;">
    <div id="main">
      <div>
        <h3 style="margin: 30px 0px -10px 0px; font-family: ProximaNovaSemiBold, 'Helvetica Neue', Arial, sans-serif; font-size: 150%;">Updated Annual Returns</h3>
        <p>Since the year has come to a close, we have updated our annual returns on our FAQ.  Check them out here: <a href="http://optimal401k.com/faq#question-16">Updated Annual Returns</a>.</p>
        <h3 style="margin: 30px 0px -10px 0px; font-family: ProximaNovaSemiBold, 'Helvetica Neue', Arial, sans-serif; font-size: 150%;"><%= Date::MONTHNAMES[current_time.month] + " " + current_time.year.to_s %> Rebalance</h3>
        <p>Thanks again for signing up!  You're all set for this month &mdash; nothing to do for now.  Your next rebalance will be on <%= (in_one_month = (current_time.month + 1) % 12) == 0 ? Date::MONTHNAMES[12] : Date::MONTHNAMES[in_one_month] %> 1.</p>
        <h3 style="margin: 30px 0px -10px 0px; font-family: ProximaNovaSemiBold, 'Helvetica Neue', Arial, sans-serif; font-size: 150%;">Questions?</h3>
        <p>Check out the <a href="http://www.optimal401k.com/faq">FAQ</a> or drop us a line: <a href="mailto:team@optimal401k.com">team@optimal401k.com</a>.</p>

        <%= render 'layouts/email_footer' %>

      </div>
    </div>
  </body>
</html>
