<% current_time = Time.now.in_time_zone('America/Los_Angeles') %>
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body style="font-family: MetaSerifProBook, 'Lucida Bright', Cambria, Georgia, 'Times New Roman', serif;">
    <div id="main">
      <div>
        <h3 style="margin: 30px 0px -10px 0px; font-family: ProximaNovaSemiBold, 'Helvetica Neue', Arial, sans-serif; font-size: 150%;">Welcome to Optimal 401k!</h3>
        <p>You're smart!  You've taken the first step toward higher returns and reduced volatility for your 401k.</p>
        <h3 style="margin: 30px 0px -10px 0px; font-family: ProximaNovaSemiBold, 'Helvetica Neue', Arial, sans-serif; font-size: 150%;">Get Started Now</h3>
        <p>Update your 401k account now using our <a href="http://www.optimal401k.com/stepbystep">step-by-step instructions</a> and this month's allocations.<sup>*</sup>  You should complete this rebalance by <%= Date::MONTHNAMES[current_time.month] + " " + Time.days_in_month(current_time.month).to_s %>.  In the future, we'll send you new allocations on the 1st of every month.  Your next rebalance notification will be on <%= (in_two_months = (current_time.month + 2) % 12) == 0 ? Date::MONTHNAMES[12] : Date::MONTHNAMES[in_two_months] %> 1.</p>

        <%= render 'layouts/allocations' %>

        <p style="font-style: italic; font-size: 70%;">* Rebalancing to these allocations may result in a round-trip warning if you have rebalanced your portoflio within the past 30 days.</p>

        <%= render 'layouts/email_footer' %>

      </div>
    </div>
  </body>
</html>
