<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to gvodev.info</h1>
    <p>
      You have successfully signed up to gvodev.info.  
      We will send you monthly rebalance information to your email: <%= @user.email %>.<br/>
    </p>
    <p>
      Please come again: <%= @url %>.  ;-)
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>