<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body style="font-family: MetaSerifProBook, 'Lucida Bright', Cambria, Georgia, 'Times New Roman', serif;">
    <div id="main">
      <div>
        <h3 style="font-family: ProximaNovaSemiBold, 'Helvetica Neue', Arial, sans-serif; font-size: 150%;">Welcome to MSFT401k!</h3>
        <p>You're smart!  You've taken the first step toward higher returns and reduced volatility for your 401k.</p>
        <p>For now, leave everything as is.  We'll send you an update on May 1<sup>st</sup> with next month's allocations and step-by-step instructions.</p>
        <p>Questions? Drop us a line: <a href="mailto:team@MSFT401k.com">team@MSFT401k.com</a>.</p>
        <div><p style="font-style: italic; font-size: 80%;">We are NOT investment advisors. See our <a href="http://www.msft401k.com/terms">Terms</a>.</p></div>
      </div>
    </div>
  </body>
</html>