<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body style="font-family: MetaSerifProBook, 'Lucida Bright', Cambria, Georgia, 'Times New Roman', serif;">
    <div id="main">
      <div class="content">
        <h2 style="font-family: ProximaNovaSemiBold, 'Helvetica Neue', Arial, sans-serif; font-size: 200%;">Get excited! You're Signed Up!!</h2>
        <%= render 'layouts/signupblurb' %>
        <%= render 'layouts/instructions' %>
      </div>
    </div>
  </body>
</html>