<h1>Allocations</h1>

<table border="1" cellspacing="0" cellpadding="20">
<% @allocations.each do |allocation| %>
  <tr>
    <td><%= allocation.group %></td>
    <td><%= allocation.values %></td>
    <td><% if allocation.group == "values" %><%= link_to 'Edit', edit_allocation_path(allocation) %><% end %></td>
  </tr>
<% end %>
</table>

<br />
<h1>Send Emails</h1>
<%= link_to "Send Test Emails", send_test_emails_allocations_path, :remote => true, :onclick => "alert('Test Emails Started!')" %>

<style>
body {
  padding: 20px;
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000;
  &:visited {
    color: #666; }
  &:hover {
    color: #fff;
    background-color: #000; } }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }

</style>