<%= render 'layouts/header_other' %>

<div id="poster">
	<div id="header-background"></div>
	<div class="content">
		<h1>Frequently Asked Questions</h1>
	</div>
</div>

<div id="main-terms">
	<div class="content">
		<h2>Thank You!</h2>
		<p><em>We've been getting a lot of great questions.  We'll do our best to keep this page updated, so please keep the questions coming! Drop us a line: <a href="mailto:team@optimal401k.com">team@optimal401k.com</a>.</em></p>
		<div id="faq">
			<div class="hashanchor" id="question-top"></div>
			<h2>Questions</h2>
			<div class="faq-question-list">
				<p><a class="smoothscroll" href="#question-1" onclick="top_link_scroll('question-1')">Who is Vest Me, LLC?</a></p>
				<p><a class="smoothscroll" href="#question-2" onclick="top_link_scroll('question-2')">Are you registered financial advisors?</a></p>
				<p><a class="smoothscroll" href="#question-3" onclick="top_link_scroll('question-3')">Why do you need my email address, and how will it be used?</a></p>
				<p><a class="smoothscroll" href="#question-4" onclick="top_link_scroll('question-4')">If I sign up, will you be able to see what's in my Microsoft 401k account?</a></p>
				<p><a class="smoothscroll" href="#question-5" onclick="top_link_scroll('question-5')">What's in it for you?  How will you make money?</a></p>
				<p><a class="smoothscroll" href="#question-8" onclick="top_link_scroll('question-8')">How do you determine the monthly allocations?</a></p>
				<p><a class="smoothscroll" href="#question-7" onclick="top_link_scroll('question-7')">What's the difference between the conservative and aggressive strategies?</a></p>
				<p><a class="smoothscroll" href="#question-6" onclick="top_link_scroll('question-6')">Don't you need to know my age to adjust for how many years I have left until retirement?</a></p>
				<p><a class="smoothscroll" href="#question-9" onclick="top_link_scroll('question-9')">How do you account for transaction costs and short-term trading fees?</a></p>
				<p><a class="smoothscroll" href="#question-10" onclick="top_link_scroll('question-10')">Why do you recommend rebalancing monthly?</a></p>
				<p><a class="smoothscroll" href="#question-11" onclick="top_link_scroll('question-11')">Is it safe to rebalance monthly?  What about round trip restrictions?</a></p>
				<p><a class="smoothscroll" href="#question-12" onclick="top_link_scroll('question-12')">On what day will you be sending out the rebalance notifications?</a></p>
				<p><a class="smoothscroll" href="#question-13" onclick="top_link_scroll('question-13')">How big are the changes in allocations from month to month?</a></p>
				<p><a class="smoothscroll" href="#question-14" onclick="top_link_scroll('question-14')">Why do you tell me to direct all my future contributions into what is essentially cash?</a></p>
				<p><a class="smoothscroll" href="#question-15" onclick="top_link_scroll('question-15')">What if I currently have money in MSFT or BrokerageLink?</a></p>
				<p><a class="smoothscroll" href="#question-16" onclick="top_link_scroll('question-16')">What are your annual returns for the past few years?</a></p>
			</div>
			<div class="hashanchor" id="question-1"></div>
			<h3>Who is Vest Me, LLC?</h3>
			<p>Vest Me, LLC is the registered entity responsible for the Optimal 401k domain and service.  Currently, Optimal 401k is our only offering, but we may release other products and services in the future.  We chose the name Vest Me because our vision is to empower people to invest their own money with confidence.</p>
			<p><a class="smoothscroll" href="#question-top" onclick="top_link_scroll('question-top')">Back to top</a></p>
			<div class="hashanchor" id="question-2"></div>
			<h3>Are you registered financial advisors?</h3>
			<p>We are not a registered broker dealer or financial advisors. We do not provide individualized investment advice &mdash; we provide the same information to everyone under the Microsoft 401k Plan.</p>
			<p><a class="smoothscroll" href="#question-top" onclick="top_link_scroll('question-top')">Back to top</a></p>
			<div class="hashanchor" id="question-3"></div>
			<h3>Why do you need my email address, and how will it be used?</h3>
			<p>Your privacy is extremely important to us.  We'll never sell or spam your email.  We use your email as the way to notify you of changes to allocations and send other important announcements.</p>
			<p><a class="smoothscroll" href="#question-top" onclick="top_link_scroll('question-top')">Back to top</a></p>
			<div class="hashanchor" id="question-4"></div>
			<h3>If I sign up, will you be able to see what's in my Microsoft 401k account?</h3>
			<p>No, we will not.  We never ask for any personal information, so we can't see what's in your account.  We provide allocations for the Microsoft 401k Plan; then, you log in and rebalance by yourself, so you're always 100% in control.</p>
			<p><a class="smoothscroll" href="#question-top" onclick="top_link_scroll('question-top')">Back to top</a></p>
			<div class="hashanchor" id="question-5"></div>
			<h3>What's in it for you?  How will you make money?</h3>
			<p>Optimal 401k is a free service, and we receive no compensation for running it.  Our focus right now is on building the best service possible to help Microsoft 401k plan participants, but we may release other products and services in the future for a fee.</p>
			<p><a class="smoothscroll" href="#question-top" onclick="top_link_scroll('question-top')">Back to top</a></p>
			<div class="hashanchor" id="question-8"></div>
			<h3>How do you determine the monthly allocations?</h3>
			<p>The goal of the strategy is to maximize returns per unit of risk.</p>
			<ol style="padding-left: 60px; padding-right: 60px;">
				<li class="faq-li-item">We start with a basket of funds.  We choose funds with low management fees and diversify among several asset classes: Large Cap Domestic Stock, Small/Mid Cap Domestic Stock, International Stock, and Bonds.</li>
				<li class="faq-li-item">Next, we measure and track market risk using price volatility: higher volatility means higher risk.</li>
				<li class="faq-li-item">Then, we choose allocations among the asset classes to maximize returns per unit of risk.</li>
			</ol>
			<p><a class="smoothscroll" href="#question-top" onclick="top_link_scroll('question-top')">Back to top</a></p>
			<div class="hashanchor" id="question-7"></div>
			<h3>What's the difference between the conservative and aggressive strategies?</h3>
			<p>The underlying fundamentals of both strategies are the same, seeking to maximize returns per unit of risk.  The difference is that the aggressive strategy takes on more risk.  In practice, that means the aggressive strategy will typically have less allocation to bonds.</p>
			<p><a class="smoothscroll" href="#question-top" onclick="top_link_scroll('question-top')">Back to top</a></p>
			<div class="hashanchor" id="question-6"></div>
			<h3>Don't you need to know my age to adjust for how many years I have left until retirement?</h3>
			<p>Instead of having a formula like many other sites, we allow you to choose the strategy that you feel is best according to your risk tolerance level.  To be sure, age does matter in investing.  Generally speaking, when you are younger, you have many years ahead of you where you will be earning money.  That's kind of like having a large portion of your overall assets automatically allocated to bonds.  As you move closer to retirement, moving more money into bonds is generally recommended to offset the fact that you have fewer years left where you will be earning money.  But since everyone's situation is different, we allow you to choose from our two offerings: conservative and aggressive.</p>
			<p><a class="smoothscroll" href="#question-top" onclick="top_link_scroll('question-top')">Back to top</a></p>
			<div class="hashanchor" id="question-9"></div>
			<h3>How do you account for transaction costs and short-term trading fees?</h3>
			<p>There are none for the Microsoft 401k Plan. </p>
			<p><a class="smoothscroll" href="#question-top" onclick="top_link_scroll('question-top')">Back to top</a></p>
			<div class="hashanchor" id="question-10"></div>
			<h3>Why do you recommend rebalancing monthly?</h3>
			<p>Rebalancing monthly is common practice among institutional investors, and it allows you to take full advantage of market swings and maintain the optimal allocation in your portfolio. For example, let's say you're holding a static allocation of 60% stocks and 40% bonds and stocks crash, leaving you with a 50%/50% allocation at the end of the month.  By rebalancing back to 60%/40% you are buying stocks, which are now cheaper, selling bonds, which are now more expensive, and returning the portfolio to your chosen strategic allocation &mdash; all smart moves. Also, the Microsoft 401k Plan results in no transaction costs or additional fees when rebalanced per our schedule.</p>
			<p><a class="smoothscroll" href="#question-top" onclick="top_link_scroll('question-top')">Back to top</a></p>
			<div class="hashanchor" id="question-11"></div>
			<h3>Is it safe to rebalance monthly?  What about round trip restrictions?</h3>
			<p>Yes, it is safe to rebalance monthly if you follow our recommended allocations and rebalance as close to the instructed date as possible, and there are no transaction costs or additional fees associated with rebalancing monthly in the Microsoft 401k Plan.</p>
			<p>But, there is something called a round trip that you should be aware of.  According to Fidelity, "A 'round trip' is generally defined as an exchange purchase that an investor directs into a fund, followed by an exchange sale within 30 days."  Our strategy is designed to prevent round trips &mdash; it even has some additional buffer built-in because February has 28 days, and because we know not everyone will be able to rebalance exactly on the day we send out the monthly notification.</p>
			<p>If you do execute a round trip, you will initially get a warning letter.  You will only get a round trip restriction if you execute another round trip for the same fund within 90 days.  The consequence of a round trip restriction is you will be temporarily prohibited from rebalancing that asset for 85 days (but new contributions into your 401k will be unaffected).  So, a round trip restriction is not catastrophic, and we will help you avoid it.</p>
			<p>To sum it up, yes, it is safe to rebalance monthly according to our allocations because we have designed the strategy to prevent round trips, and because there are no transaction costs or additional fees associated with rebalancing monthly in the Microsoft 401k Plan.</p>
			<p><a class="smoothscroll" href="#question-top" onclick="top_link_scroll('question-top')">Back to top</a></p>
			<div class="hashanchor" id="question-12"></div>
			<h3>On what day will you be sending out the rebalance notifications?</h3>
			<p>We will send out the rebalance notifications on the 1st of the month, and you should try to execute the rebalance as close to that date as you can.</p>
			<p><a class="smoothscroll" href="#question-top" onclick="top_link_scroll('question-top')">Back to top</a></p>
			<div class="hashanchor" id="question-13"></div>
			<h3>How big are the changes in allocations from month to month?</h3>
			<p>The average change in allocation per fund for a given month is less than 1%.  To capture the opportunity of major markets swings, changes in allocations could be as high as 10% for a given month (though, this is very uncommon).</p>
			<p><a class="smoothscroll" href="#question-top" onclick="top_link_scroll('question-top')">Back to top</a></p>
			<div class="hashanchor" id="question-14"></div>
			<h3>Why do you tell me to direct all my future contributions into what is essentially cash?</h3>
			<p>We tell you to direct future contributions to your 401k into a cash equivalent because it makes it easiest to set up and rebalance and safest to protect you from round trips.  But, we know this is not ideal, and we are working on an improvement that will direct future contributions to a better allocation of assets to have your money working for you at all times.</p>
			<p><a class="smoothscroll" href="#question-top" onclick="top_link_scroll('question-top')">Back to top</a></p>
			<div class="hashanchor" id="question-15"></div>
			<h3>What if I currently have money in MSFT or BrokerageLink?</h3>
			<p>In the Microsoft 401k Plan, the MSFT common stock and BrokerageLink options are essentially managed as separate accounts.  As such, you will first have to move money out of those, and then rebalance as a second step.</p>
			<p><a class="smoothscroll" href="#question-top" onclick="top_link_scroll('question-top')">Back to top</a></p>
			<div class="hashanchor" id="question-16"></div>
			<h3>What are your annual returns for the past few years?</h3>
			<p>The Optimal 401k product seeks to maximize returns per unit of risk.  The industry standard for measuring this concept is known as the <a href="http://en.wikipedia.org/wiki/Sharpe_ratio">Sharpe ratio</a>.  Below is a table showing the Sharpe ratio of our product and other relevant benchmarks over the past 10 years. <span style="font-style: italic; color: #888888;">(Negative Sharpe ratios are <a href="http://investor.financialcounsel.com/Articles/Investment/ARTINV0000130-SharpeRatio.asp">modified per Israelsen.</a>)</span></p>
			<img width="740" style="background-color: #FFFFFF; padding: 30px; border: 1px solid #BBBBBB;" src="assets/SharpeRatios.png" alt="Sharpe Ratios" />
			<br />
			<span style="font-style: italic; font-size: 80%;">
				<strong>Sharpe Ratios:</strong> annual performance of our product and pertinent benchmarks compared using Sharpe ratios calculated from simulated performance.<br />
			</span>
			<p>Also, if you're interested in seeing our absolute returns, they are shown in the table below.  You'll notice that the current (conservative) Optimal 401k product performs particularly well in times of high volatility (like in 2002 and 2008); however, because the current strategy takes on a relatively small amount of risk, it does not participate as aggressively in the recovery periods (like in the recovery after the financial crisis).  Ultimately, this results in a straighter, more predictable return line, and overall better returns because of significantly less asset loss in the risky and volatile periods in early 2000s and 2008.  But, we understand that some customers want to take on more risk, so we will soon be releasing two new products (moderate and aggressive) to address this need.  Stay tuned!</p>
			<img width="740" style="background-color: #FFFFFF; padding: 30px; border: 1px solid #BBBBBB;" src="assets/AbsoluteReturns.png" alt="Absolute Returns" />
			<br />
			<span style="font-style: italic; font-size: 80%;">
				<strong>Absolute Returns:</strong> simulated annual absolute returns for our product and pertinent benchmarks.<br />
			</span>
			<p><a class="smoothscroll" href="#question-top" onclick="top_link_scroll('question-top')">Back to top</a></p>
		</div>
	</div>

    <%= render 'layouts/footer' %>
</div>