<script>
	document.body.style.backgroundColor = "#F0F0F0";
</script>

<div id="main-goodbye">
	<div class="centerBox">
		<h2>Optimal 401k Is No Longer in Operation</h2>
		<p>Thank you for your interest.  Optimal 401k is no longer in operation.  For more information, check out our <a href="https://www.facebook.com/optimal401k">Facebook page</a>.</p>
		<p>-- The Optimal 401k Team</p>
	</div>
</div>
