<%= render 'layouts/header_other' %>

<div id="poster">
	<div id="header-background"></div>
	<div class="content">
		<h1>Step-by-Step Instructions</h1>
	</div>
</div>

<div id="main-terms">
	<div class="content instructions">
		<%= render 'layouts/instructions' %>
	</div>

    <%= render 'layouts/footer' %>
</div>