<%= render 'layouts/header_other' %>

<div id="poster">
	<div id="header-background"></div>
	<div class="content">
		<h1>Terms of Service</h1>
	</div>
</div>

<div id="main-terms">
	<div class="content">
		<p><em>Effective as of April 15, 2013</em></p>

		<h2>By Visiting This Site, You Accept Our Terms</h2>
		<p>Under this Agreement, Vest Me, LLC, which does business under the name MSFT401k.com, furnishes on-line financial information including monthly allocations for the Microsoft 401k Plan, opinions, and services to visitors and members. By visiting this website or by communicating with MSFT401k.com through email, you agree to be bound by this Agreement. The term “Use” means the use and availability of, access to, transmission to or from or any exchange of information or communication in connection with or arising from the Service. The term “Service” means this entire website and any communication, directly or indirectly, with MSFT401k.com, Vest Me, LLC, and its managing members.</p>
		<p>This entire agreement between you and MSFT401k.com and Vest Me, LLC supersedes prior agreements regarding its subject matter. Whenever new products or services become available, your use of them will be under this Agreement unless you are notified in writing otherwise. You must comply with any additional terms which apply to third party content, software or other services. This Agreement and/or the services we offer may be changed at any time. At any time for any reason, MSFT401k.com and Vest Me, LLC may alter and significantly change the number of features, membership benefits, frequency and type of reports, and all other material changes to the services provided. MSFT401k.com and Vest Me, LLC retains the right to change or modify the site and services offered at any time. When the terms are changed, notice of the change or changes will be posted on our web site or sent to you via electronic mail. Additionally, the new version of the Agreement will be posted at the web site at all times for your review. By continuing to use the Service, you agree to be bound by the changes in the new version of the Agreement.</p>

		<h2>Changes to Terms</h2>
		<p>THE WEBSITE MAY MODIFY THIS AGREEMENT AT ANY TIME, AND SUCH MODIFICATIONS SHALL BE EFFECTIVE IMMEDIATELY UPON POSTING OF THE MODIFIED AGREEMENT.</p>

		<h2>Scope of Service</h2>
		<p>All contents of the Service are provided for information and educational purposes only. You agree that the Service should not be interpreted as investment advice, as an endorsement of any security, or as an offer to buy or sell any security. General investment, financial, tax or other information shown on this site and in emails delivered to subscribers are for illustrative purposes only for your review and consideration.</p>
		<p>Remarks and data comprising the Service are for informational purposes only and are provided without warranty of any kind. In no event will MSFT401k.com, Vest Me, LLC or the managing members of Vest Me, LLC be liable for any direct, indirect, consequential, or incidental damages arising out of any decision made or action taken by you in reliance on the Service, whether or not caused in whole or part by negligence or error of MSFT401k.com, Vest Me, LLC or its managing members.</p>
		<p>The management of your 401k and trading of securities may not be suitable for all potential users of the Service. You should be aware of the risks inherent in the stock market. Past performance does not guarantee or imply future success. You cannot assume that profits or gains will be realized or that any opinion made by MSFT401k.com, Vest Me, LLC or its managing members will be profitable. Due diligence is necessary for any and all investment or trading decisions to be made by you.</p>
		<p>The purchase of securities discussed at MSFT401k.com or any email from MSFT401k.com  may result in the loss of some or all of any investment made. Trading stocks, options, or other investment vehicles are inherently filled with risk.</p>
		<p>As one benefit of membership, a monthly strategic allocation for the Microsoft 401k is provided. As always, keep in mind that recommendations and research provided at the website is only the first step in the investment and trading process. Before making any investment decisions, it is important to perform sufficient due diligence to identify those funds and allocations that match your investing tolerances and constraints. All allocations can result in investment loss, short term trading fees or rebalance restrictions within the Microsoft 401k Plan. Members are highly encouraged to do their own homework before rebalancing their 401k portfolio or buying or selling any fund or allocation shared at MSFT401k.com or through email.</p>
		<p>It is recommended that you consult a stockbroker or financial advisor before buying or selling securities, or making any investment decisions. You assume the entire cost and risk of any investing and/or trading you choose to undertake including investment losses, short term trading fees and rebalance restrictions.</p>
		<p>All information provided by MSFT401k.com, Vest Me, LLC or its managing members personally is obtained from sources believed to be accurate and reliable. However, due to the number of sources from which information on the Service is obtained, and the inherent hazards of electronic distribution, there may be delays, omissions, or inaccuracies in such information. WE DO NOT WARRANT THE ACCURACY, COMPLETENESS, CORRECTNESS, OR FITNESS FOR A PARTICULAR PURPOSE OF THE INFORMATION AVAILABLE THROUGH THE SERVICE.</p>
		<p>No allocation, mutual fund, or stock featured on this website has paid a fee, or otherwise compensated for their appearance, coverage, and/or favorable opinion. In addition, MSFT401k.com, Vest Me, LLC and its managing members do not receive any compensation for websites referred, nor accept advertisements for a fee.</p>
		<p>The monthly allocations for the Microsoft 401k and opinions expressed about the funds, options, markets and other investments mentioned on this site or through any service offered is purely the result of independent research conducted by MSFT401k.com, Vest Me, LLC and its managing members and is not an offer or solicitation to buy or sell the securities mentioned.</p>
		
		<h2>We Are Not Registered Financial Advisors</h2>
		<p>MSFT401k.com, Vest Me, LLC and the managing members of Vest Me, LLC are not a registered broker dealer or financial advisors. MSFT401k.com, Vest Me, LLC and the managing members do not provide personal investment advice and do not represent that they are a qualified investment advisor or properly licensed parties.  The purpose of this web site is to provide general information to individuals investing in the Microsoft 401k retirement plan. Vest Me, LLC does not render or offer to render personalized financial or investment advice through this medium.</p>

		<h2>We Also Invest</h2>
		<p>You also understand and agree that, from time to time, any or all of the information providers or their affiliates may hold positions in securities mentioned and that they may trade for their own account based on this information.  Members and visitors to MSFT401k.com should assume at all times that any and every stock, mutual fund, ETF, or other investments that is discussed, listed, and or referred to or which appears at the website in any form (including in rebalance emails) may also be currently owned by the managing members of Vest Me, LLC, the parent company of MSFT401k.com or members of their direct families or could be in both the near and distant future.</p>
	</div>

    <%= render 'layouts/footer' %>
</div>
