<%= render 'layouts/header_other' %>

<div id="poster">
	<div id="header-background"></div>
	<div class="content">
		<h1>Unsubscribe</h1>
	</div>
</div>

<div id="main-terms">
	<div class="content">
		<h2>We're sorry to see you go!</h2>
		<p>To unsubscribe, send us an email asking to be removed: <a href="mailto:team@MSFT401k.com">team@MSFT401k.com</a>.  If you'd be willing to share the reason why you are leaving or have feedback on how we can improve the service, we'd love to it.</p>
	</div>
    <%= render 'layouts/footer' %>
</div>