<header id="header">
	<div class="content">
		<div id="logo" onclick="window.location.replace('/');" style="cursor: pointer;">
			<div id="logo-line-1">MSFT401k</div>
			<div id="logo-line-2">by Vest Me</div>			
		</div>

		<div id="navbar">
			<a id="top-link-signup" href="/">Sign Up</a> |
			<a id="top-link-why" href="/#why">Why</a> |
			<a id="top-link-how" href="/#how">How</a> |
			<a id="top-link-returns" href="/#returns">Returns</a> |
			<a id="top-link-vision" href="/#vision">Vision</a>
		</div>

		<!-- Load ScrollTo -->
		<script type="text/javascript" src="http://flesler-plugins.googlecode.com/files/jquery.scrollTo-1.4.3.1-min.js"></script>

		<script>
	  	if (isWPDevice != null) {
	  		// do nothing
	  	} else {
			function scroll_to_top(){
				event.preventDefault();
				if ($(window).scrollTop() != 0) $("html, body").animate({scrollTop: 0}, 800);
			}
			function top_link_scroll(link_target) {
				event.preventDefault();
				if (link_target == "") return;
				$(window).scrollTo($('#' + link_target), 800, {offset: -100});
			}
		  	function handle_hash() {
		  		top_link_scroll(window.location.hash.substring(1));
	  		}
	  	}
		</script>

	</div>
</header>