<p>You're all set.  We will send you monthly rebalance information to your email: <%= @user.email %>.  Questions?  E-mail us: <a href="mailto:team@MSFT401k.com">team@MSFT401k.com</a>.</p>
<h2 style="font-family: ProximaNovaSemiBold, 'Helvetica Neue', Arial, sans-serif; font-size: 200%;">Start Now</h2>
<p>Start now by setting your allocations to this month's blueprint.  Just follow the simple step-by-step instructions below.</p>