<!DOCTYPE html>
<html>
<head>
  <title>MSFT401k</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="http://code.jquery.com/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>
  <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-39972882-1', 'msft401k.com');
	  ga('send', 'pageview');
  </script>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
  	var isiDevice = navigator.userAgent.match(/iPad|iPhone|iPod/g);
  	if (isiDevice != null) { 
  		document.write('<meta name="viewport" content="width=840, user-scalable=no" />');
  	}
  	else {
  		//
  	}

  	var isWPDevice = navigator.userAgent.match(/Windows Phone/g);
  	if (isWPDevice != null) { 
  		$(function() {
	      var pElements = document.getElementsByTagName("p");
	      for (i=0; i<pElements.length; i++) {
	      	pElements[i].style.fontSize="180%";
	      }
	      var spanElements = document.getElementsByTagName("span");
	      for (i=0; i<spanElements.length; i++) {
	      	spanElements[i].style.fontSize="180%";
	      }
	      var h4Elements = document.getElementsByTagName("h4");
	      for (i=0; i<h4Elements.length; i++) {
	      	h4Elements[i].style.fontSize="180%";
	      }
	    });  		
  	}
  </script>

  <!-- SlidesJS Required: These styles are required if you'd like a responsive slideshow -->
  <style>
    /* Prevent the slideshow from flashing on load */
    #slides {
      display: none
    }

    /* Center the slideshow */
    .container {
      margin: 0 auto
    }

    /* Show active item in the pagination */
    .slidesjs-pagination .active {
      color:red;
    }

	#slides .slidesjs-container {
	  margin-bottom:10px;
	}

	#slides .slidesjs-previous {
	  margin-right: 5px;
	  float:left;
	}
	#slides .slidesjs-next {
	  margin-right: 5px;
	  float:left;
	}

	.slidesjs-pagination {
	    margin:6px 0 0;
	    float: right;
	    list-style: none;
	}

	.slidesjs-pagination li {
	    float: left;
	    margin: 0 1px;
	}

	.slidesjs-pagination li a {
	    display: block;
	    width: 13px;
	    height: 0;
	    padding-top: 13px;
	    background-image: url(assets/chartcarousel/pagination.png);
	    background-position: 0 0;
	    float: left;
	    overflow: hidden;
	}

	.slidesjs-pagination li a.active, .slidesjs-pagination li a:hover.active { background-position: 0 -13px }

	.slidesjs-pagination li a:hover { background-position: 0 -26px }

	/*
	#slides a:link, #slides a:visited { color: #333 }

	#slides a:hover, #slides a:active { color: #9e2020 }
	*/
    /* Media quires for a responsive layout */
      .container {
        width: 800px
      }
  </style>
  <!-- SlidesJS Required: -->

</head>
<body onload="handle_hash();">
<%= yield %>
</body>
</html>
