<!DOCTYPE html>
<html>
<head>
  <title>Optimal 401k</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="http://code.jquery.com/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>
  <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-39972882-1', 'optimal401k.com');
	  ga('send', 'pageview');
  </script>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
  	var isiDevice = navigator.userAgent.match(/iPad|iPhone|iPod/g);
  	if (isiDevice != null) { 
  		document.write('<meta name="viewport" content="width=840, user-scalable=no" />');
  	}
  	else {
  		// do nothing
  	}

  	var isWPDevice = navigator.userAgent.match(/Windows Phone/g);
  	if (isWPDevice != null) { 
  		$(function() {
	      var pElements = document.getElementsByTagName("p");
	      for (i=0; i<pElements.length; i++) {
	      	pElements[i].style.fontSize="180%";
	      }
	      var olElements = document.getElementsByTagName("ol");
	      for (i=0; i<olElements.length; i++) {
	      	olElements[i].style.fontSize="180%";
	      }
	      var spanElements = document.getElementsByTagName("span");
	      for (i=0; i<spanElements.length; i++) {
	      	spanElements[i].style.fontSize="180%";
	      }
	      var h3Elements = document.getElementsByTagName("h3");
	      for (i=0; i<h3Elements.length; i++) {
	      	h3Elements[i].style.fontSize="220%";
	      }
	      var h4Elements = document.getElementsByTagName("h4");
	      for (i=0; i<h4Elements.length; i++) {
	      	h4Elements[i].style.fontSize="180%";
	      }
	    });  		
  	}
  </script>
</head>
<body onload="handle_hash();">
	<div id="body-div">
		<%= yield %>
	</div>
</body>
</html>
